<html>

  <head>
    <link rel="stylesheet" type="text/css" href="./conversations.less" />
    <script type="module" src="index.ts" defer></script>
  </head>

  <body>
    <div class="page-container">
      <div class="block-left">
        <div class="link-container">
          <a class="link-container__link" href="../profile/profile.hbs">Профиль ❯</a>
        </div>

        <div class="search-block">
          <input type="search" placeholder="Поиск" class="form-input input-normal" />
        </div>
        <div class="chat-list">
            {{#each conversations.chatlist}}
            <div class="chat-item">
              <div class="chat-logo-block">
                <img class="chat-logo-block__img" src="../../../static/chat_logo.png" height="60px" width="60px" alt="logo {{title}}" />
              </div>

              <div class="message-container">
                <div class="message-container__title">
                  {{title}}
                </div>
                <div class="message-container__message">
                  {{message}}
                </div>
              </div>

              <div class="chat-item-info">
                <div class="chat-item-info__message-time">
                  {{time}}
                </div>

                {{#if hasNewMessages}}
                  <div class="chat-item-info__messages-count">
                    {{messagecount}}
                  </div>
                {{/if}}
              </div>

            </div>
          {{/each}}
        </div>
      </div>

      <div class="block-right">
        <div class="profile-info">
          <div class="profile-logo">
            <img class="profile-logo__img" src="../../../static/chat_logo.png" height="34px" width="34px" alt="logo {{title}}" />
          </div>
          <div class="profile-info__chat-name">
            Александр
          </div>
          <div class="profile-info__settings-icon">
            &#x2807;
          </div>
        </div>

        <div class="messages-container">
          {{#each conversations.messagelist}}
            {{#if isMyMessage}}
              <div class="messages-container__output-message">
                {{messageText}}
              </div>
            {{else}}
              <div class="messages-container__input-message">
                {{messageText}}
              </div>
            {{/if}}
          {{/each}}
        </div>

        <form class="send-message-block">
          <input type="text" id="message" name="message" placeholder="Сообщение" class="form-input input-normal" />
          <button id="send-button" type="submit" class="send-message-block__button">Отправить</button>
        </form>
      </div>
    </div>
  </body>

</html>
